
@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetStateBySession</title>
</head>
    <h1>Set State By Session</h1>
    <h1 class="alert alert-warning">
	    @ViewBag.id <==> @ViewBag.name
    </h1>
<body>
</body>
</html>
