
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        form {
            padding-top: 40vh;
            margin: auto;
            text-align: center;
        }
    </style>
    <title>CreateForMult</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <form action="/lab/mult" method="get">
        <input name="x" placeholder="x" /> <br /> <br/>
        <input name="y" placeholder="y" /> <br /> <br />
        <input type="submit" value="Mult" class="btn btn-success" />
    </form>
</body>
</html>
