
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
    <link rel="stylesheet" href="/lib/boostrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1 class="alert alert-success">Hello From Muhammad Nasr</h1>

</body>
</html>
