
@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetStateInCookies</title>
</head>
<body>
    <h1>Set State In Cookies</h1>
    <h1 class="alert alert-warning">
		@ViewBag.id <==> @ViewBag.name
    </h1>
</body>
</html>
