
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    

</head>
<body>
    <form action="WaysToReceiveDataFromView/6" method="post">

        <select  multiple name="departments">
            <option value="sd">SD</option>
            <option value="pd">PD</option>
            <option value="os">OS</option>

        </select>

        <input type="number" name="id" placeholder="Id"/>
        <input type="text" name="Name" placeholder="Name" />
        <input type="number" name="age" placeholder="Age" />
        <input type="submit" value="Add" />


    </form>
</body>
</html>
