
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WaysToReceiveDataFromView</title>
</head>
<body>
    <h1>Recived values</h1>
    <div>
        <div>@ViewBag.Id</div> 
        <div>@ViewBag.Name</div>
        <div>@ViewBag.Age</div>
        <div>@ViewBag.Departments</div>
    </div>
</body>
</html>
